beautifulsoup4==4.11.1
docx2txt==0.8
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.2.0/en_core_web_trf-3.2.0-py3-none-any.whl
fuzzywuzzy==0.18.0
huggingface-hub==0.5.1
importlib-metadata==4.11.3
jsonschema==4.4.0
nltk==3.7
numpy
pandas
pandocfilters==1.5.0
pdfminer==20191125
pdfminer.six==20220319
pickleshare==0.7.5
Pillow==9.1.0
preshed==3.0.6
protobuf==3.20.0
regex==2022.3.15
spacy==3.2.4
spacy-alignments==0.8.5
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacy-transformers==1.1.5
tokenizers==0.12.1
transformers==4.17.0